.footer {
  background-color: $footerBackgroundColor;
  color: $footerMainFontColor;
}
.footer__logo {
  color: inherit;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.footer__container {
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  color: $footerSecondaryColor;
  text-decoration: none;
  display: block;
  font-style: normal;
  margin: 4px auto;
  &:hover,
  &:focus {
    color: $footerHoverColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer__address {
  font-style: normal;
}
.footer__social {
  margin: 60px auto;
}

.footer__social-links {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.footer__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $footerSocialLinksColor;
  &:hover,
  &:focus {
    background-color: $footerHoverColor;
    fill: $footerSocialLinksColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer-input-button-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__informations {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__address {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__social {
    flex-basis: 50%;
    margin: 0;
  }
  .footer__social-links {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: $desktop) {
  .footer__logo {
    margin-bottom: 20px;
    margin-top: 0;
    align-self: flex-start;
  }
  .footer__container {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: unset;
  }
  .footer__informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__contact {
    color: rgba(255, 255, 255, 0.6);
    align-items: flex-start;
  }

  .footer__link {
    color: $footerSecondaryColor;
    text-decoration: none;
    display: block;
    font-style: normal;
    margin: 9px 0px 0px 0px;
    &:hover,
    &:focus {
      color: $footerHoverColor;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .footer__address {
    font-style: normal;
    width: 246px;
  }
  .footer__social {
    margin: 12px 78px 100px 70px;
  }

  .footer__social-links {
    width: 206px;
    height: 44px;
    display: flex;
    justify-content: space-between;
  }

  .footer__social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $footerSocialLinksColor;
    &:hover,
    &:focus {
      background-color: $footerHoverColor;
      fill: $footerSocialLinksColor;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
