.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 94px auto;
}
.feature {
  color: $secondaryColor;
}
.feature__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $advantagesIconBackgroundColor;
}
.feature__title {
  font-weight: 700;
  color: $primaryColor;
  margin-bottom: 10px;
}
@media screen and (min-width: $tablet) {
  .advantages__list {
    margin: 94px auto;
  }
  .feature {
    width: 354px;
    height: 251px;
    &:nth-child(2n + 2) {
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: $desktop) {
  .advantages__list {
    flex-wrap: nowrap;
  }
  .feature {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
