.portfolio {
  margin: 94px auto;
}

.portfolio__buttons {
  margin-bottom: 50px;
}

.buttons__page:not(:last-child) {
  margin-right: 8px;
}

.projects__project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
  .portfolio__buttons {
    margin-left: auto;
    margin-right: auto;
  }
}
