.team {
  background-color: $backgroundTeamColor;
}
.team__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: $desktop) {
  .team__container {
    padding: 94px 0;
  }
  .team__title {
    margin-bottom: 50px;
  }
}
