.contact__link {
  color: $secondaryColor;
  fill: $secondaryColor;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $headerHoverColor;
    fill: $headerHoverColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: $tablet) and (max-width: "calc($tablet-1)") {
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact__icon {
  margin-right: 10px;
}
@media screen and (min-width: $desktop) {
  .contact {
    display: block;
    flex-direction: unset;
  }
  .contact__link {
    margin: auto 25px;
  }
  .contact__icon {
    margin-right: 10px;
  }
}
