.johns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.johns__member {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: auto;
  margin: 0;
  background-color: $brightBackgroundColor;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.johns__figcaption {
  margin-top: 30px;
  margin-bottom: 24px;
}
.johns__standing {
  margin: 10px auto;
}
.johns__picture {
  margin: 0;
  padding: 0;
  display: inline;
  justify-content: flex-start;
}
.johns__figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.johns__name {
  color: $primaryColor;
  font-weight: 500;
}
@media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
  .johns {
    justify-content: space-between;
  }
  .johns__member {
    width: 354px;
    margin-bottom: unset;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    &:nth-child(n + 3) {
      margin-top: 30px;
    }
  }
}
@media screen and (min-width: $desktop) {
  .johns {
    justify-content: space-between;
  }
  .johns__member {
    width: 270px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    &:nth-child(n + 3) {
      margin-top: 0px;
    }
  }
  .johns__figcaption {
    margin: 30px auto;
  }
}
