.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter__input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: $newsletterfontColor;
  margin: 10px auto;
}
.newsletter__input::placeholder {
  color: $newsletterfontColor;
}
.newsletter__button {
  font-family: Roboto;
  color: $darkBackgroundFontColor;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.newsletter__button-icon {
  fill: $darkBackgroundFontColor;
  margin-left: 24px;
}
.newsletter__button-inside {
  display: flex;
  justify-content: center;
  align-items: center;
}
