.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  &--main-title {
    font-family: Roboto;
    color: $darkBackgroundFontColor;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 30px;
  }
}
