// COMMON //
$primaryFontFamily: "Roboto", "Raleway", sans-serif;
$primaryColor: #212121;
$secondaryColor: #757575;
$backgroundButtonColor: #2196f3;
$darkBackgroundFontColor: #ffffff;
$brightBackgroundColor: #ffffff;
$hoverColor: #2196f3;
// END COMMON //
// BACKDROP //
$backdropBackgroundColor: rgba(0, 0, 0, 0.2);
// END BACKDROP //
// FORM //
$formFocusColor: #2196f3;
$formBorderColor: 1px solid rgba(33, 33, 33, 0.2);
// END FORM //
// LOGO //
$firstLogoColor: #2196f3;
$darkLogoColor: #212121;
// END LOGO //
// NEWSLETTER //
$newsletterfontColor: rgba(255, 255, 255, 0.6);
// END NEWSLETTER //
// PROJECT //
$backgroundProjectOverlayColor: rgba(33, 150, 243, 0.9);
// END PROJECT //
// SMALLER TITLE //
$smallerTitleFontFamily: Roboto;
// END SMALLER TITLE //
// SOCIAL LINKS //
$socialLinksFocusColor: #2196f3;
$socialLinksNormalColor: #afb1b8;
// END SOCIAL LINKS //
// CLIENTS //
$clientsLogoColor: #afb1b8;
$clientsLogoHoverColor: #2196f3;
// END CLIENTS //
// FOOTER //
$footerBackgroundColor: #2f303a;
$footerMainFontColor: #ffffff;
$footerSecondaryColor: #757575;
$footerHoverColor: #2196f3;
$footerSocialLinksColor: #ffffff;
// END FOOTER //
// HEADER //
$headerHoverColor: #2196f3;
$headerUnderlineColor: #2196f3;
// END HEADER //
// OUR ADVANTAGES //
$advantagesIconBackgroundColor: #f5f4fa;
// END OUR ADVANTAGES //
// TEAM //
$backgroundTeamColor: #f5f4fa;
// END TEAM //
